language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy3"
# command to install dependencies
install:
  - pip install coveralls
# command to run tests
script: nosetests --with-coverage --cover-package=singleton_factory
after_success:
  - coveralls